.atom(data-id=post.id, data-user-id=post.user.id)
  .atom-meta.meta.clearfix
    .atom-meta-main
      .atom-meta-main-inner.username.datum=post.user.name
      .atom-meta-extra
        .atom-meta-extra-time.time.datum
          i.fa.fa-clock-o
          a.distance(data-timestamp=post.created_at.toString(), href="?all=true#" + post.id, name=post.id)
            = moment(post.created_at).fromNow()
            span.unread-icon
              i.fa.fa-file-o
  .content!=marked(post.body || '')
    if (post.user.signature)
      .signature!=post.user.signature
  if (post.user.id === user.id)
    form.edit.is-hidden(action="/edit", method="POST")
      .input
        textarea.input-textarea!=post.body
        button(class="input-submit" type="submit")
          | Submit
  .atom-actions
    .atom-actions-advanced
      if (post.user.id === user.id)
        a.atom-actions-action.atom-actions-action--destroy.fa.fa-trash-o.fa-lg(href="#destroy")

    a.atom-actions-action.atom-actions-action--quote.fa.fa-quote-left.fa-lg(href="#quote")
    if (post.user.id === user.id)
      a.atom-actions-action.atom-actions-action--edit.fa.fa-edit.fa-lg(href="#edit")

