.post(data-id=post.id)
  .meta.clearfix
    .username.datum=post.user.name
    .time.datum
      i.fa.fa-clock-o
      a.distance(data-timestamp=post.created_at.toString(), href="?all=true#" + post.id, name=post.id)
        = moment(post.created_at).fromNow()
        .unread
          i.fa.fa-file-o
  .content!=marked(post.body || '')
    if (post.user.signature)
      .signature!=post.user.signature
  if (post.user.id === user.id)
    form.edit.hidden(action="/edit", method="POST")
      .input
        textarea.input-textarea!=post.body
        button(class="input-submit" type="submit")
          | Submit
  .actions
    a.action.quote.fa.fa-quote-left.fa-lg(href="#quote")
    .advanced
      if (post.user.id === user.id)
        a.action.destroy.fa.fa-trash-o.fa-lg(href="#destroy")

    if (post.user.id === user.id)
      a.action.edit.fa.fa-edit.fa-lg(href="#edit")

