.topic(data-id=post.id)
  .meta.clearfix
    .title
      a(href='/topic/' + post.id)=post.title
    .extra
      .replies
        span.count= post.children.length
        |  Replies.
      .username.datum=post.children[0] && post.children[0].user && post.children[0].user.name || post.user.name
      .time.datum
        i.fa.fa-clock-o
        .distance(data-timestamp=getPostDate(post))= moment(getPostDate(post)).fromNow()
  .actions
    a.action.reply(href='/topic/' + post.id + '#reply')
      .context
        |reply
      .fa.fa-reply.fa-flip-vertical.fa-md
    .advanced
