.topic(data-id=post.id)
  .meta.clearfix
    .title
      a(href='/topic/' + post.id)=post.title
    .extra
      .replies
        span.count= post.children.length
        |  Replies.
      .username.datum=post.user.name
      .time.datum
        i.fa.fa-clock-o
        .distance(data-timestamp=getPostDate(post))= moment(getPostDate(post)).fromNow()
  .actions
    a.action.reply.fa.fa-reply.fa-flip-vertical.fa-lg(href='/topic/' + post.id + '#reply')
    .advanced
      if (post.user.id === user.id)
        a.action.destroy.fa.fa-trash-o.fa-lg(href="#destroy")

    if (post.user.id === user.id)
      a.action.edit.fa.fa-edit.fa-lg(href="#edit")
