doctype 5
html(lang="en")
  head
    title Forum
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    script.
      var forum = {};
      forum.constants = !{clientConstants};
      forum.constants.user = !{JSON.stringify(user)};
    link(
      rel="stylesheet"
      href="/stylesheets/base.css"
    )
    link(
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700,400"
    )
    link(
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    )

    block head
    block vars
  body(
    class=bodyClass
  )

    .main
      if (user && user.id !== 0)
        h2.breadcrumb
          a(href='/') The Forum
          if (bodyClass.match('topics') === null && posts[0] && posts[0].title)
            | &nbsp;&mdash;&nbsp;
            = posts[0].title

      block main

    script(src="/javascripts/marked.js")
    script.
      marked.setOptions({
        emoji: function (emoji) {
          return '<img src="'
              + 'http://cloud.ahfr.org/images/emoji/'
              + encodeURIComponent(emoji)
              + '.png"'
              + ' alt=":'
              + escape(emoji)
              + ':"'
              + ' title=":'
              + escape(emoji)
              + ':"'
              + ' class="emoji" align="absmiddle" height="20" width="20">';

        }
      });

    script(src="/javascripts/moment.js")
    script(src="/javascripts/underscore.js")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/velocity.min.js")
    script(src="/javascripts/velocity.ui.min.js")
    script(src="/javascripts/animations.js")
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/jade-runtime.js")

    block script
